{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_comment_list'|trans }}
{% endblock %}

{% block body %}
    {{ include('menu.html.twig') }}
    <h2>{{ 'title_comment_list'|trans }}</h2>
    <button>
        <a href="{{ url('comment_create')}}" title="create">
            {{ 'add_comment'|trans }}
        </a>
    </button>
    <br>
    {% if pagination is defined and pagination.items|length %}

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label_nick'|trans, 'comment.nick') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_content'|trans, 'comment.content') }}</th>
                <th>{{ 'label_post'|trans }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_created_at'|trans, 'comment.createdAt') }}</th>
                {% if is_granted('ROLE_ADMIN') %}<th>{{ 'label_actions'|trans }}</th>{% endif %}
            </tr>
            </thead>
            <tbody>
            {% for comment in pagination.items %}
                <tr>
                    <td>{{ comment.nick }}</td>
                    <td>{{ comment.content }}</td>
                    <td>
                        <a href="{{ url('comment_index', {'filters.post_id' : comment.post.id}) }}" title="{{ comment.post.title }}">
                            {{ comment.post.title }}
                        </a>
                    </td>
                    <td>{{ comment.createdAt|date('Y/m/d') }}</td>
                    <td>
                        {% if is_granted('VIEW', comment) %}
                        <a href="{{ url('comment_show', {id: comment.id}) }}" title="{{ 'label_view'|trans }}">
                            {{ 'label_view'|trans }}
                        </a>
                        {% endif %}
                    </td>
                    <td>
                        {% if is_granted('DELETE', comment) %}
                        <a href="{{ url('comment_delete', {id: comment.id}) }}" title="{{ 'label_delete'|trans }}">
                            {{ 'label_delete'|trans }}
                        </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {% include 'default/_single_flash_message.html.twig' with {
                type: 'warning',
                message: 'message.empty_list'|trans
            } %}
        </p>
    {% endif %}
{% endblock %}
