{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_category_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_category_list'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label_id'|trans, 'category.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_title'|trans, 'category.title') }}</th>
                <th scope="col">
                    {{ 'label_actions'|trans }}
                </th>
            </tr>
            </thead>
            <tbody>
            {% for category in pagination.items %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.title }}</td>
                    <td>
                        <a href="{{ url('category_show', {id: category.id}) }}" title="{{ 'label_view'|trans }}">
                            {{ 'label_view'|trans }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ url('category_edit', {id: category.id}) }}" title="{{ 'label_edit'|trans }}">
                            {{ 'label_edit'|trans }}
                        </a>
                    </td>
                    <td>
                        {% if not category.posts|length %}
                            <a href="{{ url('category_delete', {id: category.id}) }}" title="{{ 'label_delete'|trans }}">
                                {{ 'label_delete'|trans }}
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {% include 'default/_single_flash_message.html.twig' with {
                type: 'warning',
                message: 'message.empty_list'|trans
            } %}
        </p>
    {% endif %}
        <a href="{{ url('category_create')}}" title="create">
            {{ 'create_new_category'|trans }}
        </a>
{% endblock %}
