{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_category_list'|trans }}
{% endblock %}

{% block body %}
    {{ include('menu.html.twig') }}
    <h2>{{ 'title_category_list'|trans }}</h2>
    {% if pagination is defined and pagination.items|length %}

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label_title'|trans, 'category.title') }}</th>
                {% if is_granted('ROLE_ADMIN') %}<th>{{ 'label_actions'|trans }}</th>{% endif %}
            </tr>
            </thead>
            <tbody>
            {% for category in pagination.items %}
                <tr>
                    <td>{{ category.title }}</td>
                    <td>
                        {% if is_granted('VIEW', category) %}
                        <a href="{{ url('post_index', {id: category.id}) }}" title="{{ 'label_view'|trans }}">
                            {{ 'label_view'|trans }}
                        </a>
                        {% endif %}
                    </td>
                    <td>
                        {% if is_granted('EDIT', category) %}
                        <a href="{{ url('category_edit', {id: category.id}) }}" title="{{ 'label_edit'|trans }}">
                            {{ 'label_edit'|trans }}
                        </a>
                        {% endif %}
                    </td>
                    <td>
                        {% if is_granted('DELETE', category) %}
                            {% if not category.posts|length %}
                                <a href="{{ url('category_delete', {id: category.id}) }}" title="{{ 'label_delete'|trans }}">
                                    {{ 'label_delete'|trans }}
                                </a>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {% include 'default/_single_flash_message.html.twig' with {
                type: 'warning',
                message: 'message.empty_list'|trans
            } %}
        </p>
    {% endif %}
{% endblock %}
